<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <title>Job Xpress</title>   
 		<link rel="icon" href="assets/images/home/favicon.ico" th:href="@{/static/favicon.ico}" />
        <!-- Bootstrap -->
        <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
        <!-- Flexslider Css -->
	<link href="assets/plugins/flexslider/flexslider.css" rel="stylesheet"></link>
        <!--font awesome-->
        <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"></link>
        <!--custom css-->
        <link href="assets/plugins/themify/themify-icons.css" rel="stylesheet"></link>
        <link href="assets/css/style.css" rel="stylesheet"></link>
        <link href="assets/css/responsive.css" rel="stylesheet"></link>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet"></link>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet"></link>
		<!-- <style>
		nav.navbar.navbar-default.navbar-static-top	{
width:120%;
}</style> -->
    </head>
    <body>
        <div class="header-stricky">
            <div class="container">
                <div class="row" >
                    <div class="col-md-3">
                        <div class="site-logo">
                            <a href="index.html"><img src="assets/images/home/site-logo.svg" alt="" class="img-responsive" /></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                      <nav class="navbar navbar-default navbar-static-top">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div> 
                            <div id="navbar" class="navbar-collapse collapse" >
                                <ul class="nav navbar-nav scrollto">  
                                    <li><a href="index">Home</a></li>
									 <li><a href="about">About</a></li> 
									   <li th:if="${session.user} == true OR ${session.admin}==true"><a href="services">Services</a></li>
									  <li><a href="job_listing">Jobs</a></li>
									 <li  class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Testimonials <i class="fa fa-angle-down"></i></a>
									 <ul class="dropdown-menu">
									  <li><a href="add-testimonials">Add Testimonials</a></li></ul>
									 </li>
									   <li th:if="${session.user} == true" class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile <i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="edit_profile">Edit Profile</a></li> 
                                             <li><a href="change_password">Change Password</a></li>  
                                        </ul>
                                    </li>
                                     <li><a href="contact">Contact Us</a></li>
                                      <li th:if="${session.admin} == true" class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="manage_job">Manage Jobs</a></li>  
                                            <li><a href="add-job">Add Jobs</a></li> 
                                             <li><a href="manage_testimonial">Manage TestiMonial</a></li>  
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav>  
                    </div>
                           <div class="col-md-3 text-right" th:if="${session.active} == null">
                                <a  href="login" class="login">Login</a>
								 <a href="signup" class="signup">Sign Up</a>
                                
                            </div>
                            <div class="col-md-3 text-right" th:if="${session.active} == true">
                                 <span class="userName_span" th:text="'Welcome '+${{session.userName}}"></span><a  href="logout" class="login">Log out</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page_banner about">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="banner-heading">About Us</div>    
                            </div>  
                        </div>
                    </div>
                </div>
                    <section class="visitor padding0px">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 text-center">
                                    <div class="page-heading">
                                        <h4 class="text-success">Career Velocity is a unique startup company built by dynamic entrepreneurs with the objective to provide end to end services for the career aspirants.</h4>
                                        <p>Our team comprises of corporate expertise emanating from various specialized backgrounds with 10+ years of experience in fields like Human resources, Administration, Management and Information technology, having worked in various product and service based corporate companies.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="icon-feature"><span class="ti-heart"></span></div>
                                    <div class="overflow feature_block">
                                        <h2>Resume Building</h2>
                                        <p> Resume being the first step of sourcing a candidature is very important for an aspirant to have it neatly presented according to your skillset and strengths.
											At Career Velocity, Resume building is done adopting constructive methods, discussions &amp; presentations, considering your requirements, skills &amp; expertise, strengths &amp; weaknesses.
											</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="icon-feature"><span class="ti-desktop"></span></div>
                                    <div class="overflow feature_block">
                                        <h2>Career Guidance</h2>
                                        <p> <b class="text-success"> For an experienced: </b> We, after the one – one discussion with the experts help you understand your strengths and weakness and guide on to the training institutes for the development of your skillsets.</p>
                                    	<p>
											<b class="text-success">  For a fresher: </b> It’s a one stop solution for all your queries from resume building to getting onboard in a company. 
										</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="icon-feature"><span class="ti-file"></span></div>
                                    <div class="overflow feature_block">
                                        <h2>Skillset development</h2>
                                        <p>At career velocity, we have inhouse experts for couple of technical and non-technical trainings and we have also tied up with the best institutes for core IT trainings. The trainings will be run through out the year.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="icon-feature"><span class="ti-world"></span></div>
                                    <div class="overflow feature_block">
                                        <h2>Extensive Database</h2>
                                        <p>We shall keep you posted on the available job opportunities in the market that best suits your profile and give you the best possible references out there. Our references will increase your chances of getting shortlisted and selected</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="icon-feature"><span class="ti-user"></span></div>
                                    <div class="overflow feature_block">
                                        <h2>Why we are different</h2>
                                        <p>We provide customized assistance in building the CV along with personality based on the strengths of the personnel, which not only creates the first and the best impression on the employer but will also help the personnel to get through.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="icon-feature"><span class="ti-search"></span></div>
                                    <div class="overflow feature_block">
                                        <h2>Other Services</h2>
                                        <p>Assistance on getting Pan and/or Aadhar card</p>
                                        <p>Assistance in understanding salary break up</p>
                                        <p>Tax consultation and investments</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                              		 <div class="icon-feature"><span class="ti-user"></span></div>
                                    <div class="overflow feature_block">
                                       <span><b class="text-success">What we do?</b> </span>
										<li>	Resume Building</li>
										<li>	Sourcing Job opportunities and getting interviews</li>
										<li>	Personalized Career guidance</li>
										<li>	Interview preparation based on expert opinion</li>
										<li>	End to end assistance for career aspirant</li>
										<li>	Assistance in getting to right institutes for required skillset development</li>
										<li>	Assistance all through the onboarding process </li>
                                    </div>
                              </div>
                              <div class="col-md-6">
                              		 <div class="icon-feature"><span class="ti-user"></span></div>
                                    <div class="overflow feature_block">
                                       <span><b class="text-success">Why Career Velocity: </b> </span>
                                        <li>Easy Approach</li>
                                        <li>Minimum Charges</li>
                                        <li>Maximum Access</li>
                                        <li>Experts Assistance</li>
                                        <li>Strong Data base &amp; Support team.</li>
                                        <li>Assistance provided in enrolling to the right institute.</li>
										<li>Various training courses to improve soft skills and technical skillset.</li>
                                        <br/>
                                    </div>
                              </div>
                            
                            </div>  
                        </div>
                    </section>
              		 <section class="success_story">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4 text-right">
                                    <div class="page-heading2">
                                        <h1>Career <span>Velocity</span></h1>
                                        <strong>success stories</strong>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="testi-slider">
                                        <ul class="slides list-inline">
                                            <li th:each="item,stat:${testimonials}">
                                                <div class="testi-box clearfix text-center">
                                                    <img src="assets/images/home/t1.png" alt="" class="img-responsive" />
                                                    <div class="content">
                                                        <p th:text="${item.message}"></p>
                                                        <div class="content-hr"></div>
                                                        <h4></h4>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                   
                <footer id="footer">
                    
                    <div class="footer-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 padding-left">
                                    <span>&#169; 2017 Paskal. All rights reserved.</span>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- jQuery -->
                <script src="assets/js/jquery.min.js"></script>
                <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
                <script src="assets/plugins/flexslider/jquery.flexslider-min.js"></script>
                <script src="assets/js/flexslider.js"></script>
                <script src="assets/js/common.js"></script>
            </body>
        </html>
