<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <title>Job Xpress</title>   
 		<link rel="icon" href="assets/images/home/favicon.ico" th:href="@{/static/favicon.ico}" />
        <!-- Bootstrap -->
        <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
        <!--font awesome-->
        <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"></link>
        <!--custom css-->
        <link href="assets/plugins/themify/themify-icons.css" rel="stylesheet"></link>
        <link rel="stylesheet" href="assets/plugins/wysihtml5/wysihtml5.css" type="text/css"></link>
        <link href="assets/css/style.css" rel="stylesheet"></link>
        <link href="assets/css/responsive.css" rel="stylesheet"></link>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet"></link>
		<!-- <style>
		nav.navbar.navbar-default.navbar-static-top	{
width:150%;
}</style> -->
    </head>
<body>
	<div class="header-stricky">
		<div class="container">
			<div class="row" >
				<div class="col-md-3">
					<div class="site-logo">
						<a href="index.html"><img
							src="assets/images/home/site-logo.svg" alt=""
							class="img-responsive" /></a>
					</div>
				</div>
				<div class="col-md-6">
					<nav class="navbar navbar-default navbar-static-top">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed"
								data-toggle="collapse" data-target="#navbar"
								aria-expanded="false" aria-controls="navbar">
								<span class="sr-only">Toggle navigation</span> <span
									class="icon-bar"></span> <span class="icon-bar"></span> <span
									class="icon-bar"></span>
							</button>
						</div>
						 <div id="navbar" class="navbar-collapse collapse" >
                                <ul class="nav navbar-nav scrollto">  
                                    <li><a href="index">Home</a></li>
									 <li><a href="about">About</a></li> 
									  <li th:if="${session.user} == true OR ${session.admin}==true"><a href="services">Services</a></li>
									  <li><a href="job_listing">Jobs</a></li>
									 <li  class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Testimonials <i class="fa fa-angle-down"></i></a>
									 <ul class="dropdown-menu">
									  <li><a href="add-testimonials">Add Testimonials</a></li></ul>
									 </li>
									   <li th:if="${session.user} == true" class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile <i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="edit_profile">Edit Profile</a></li> 
                                             <li><a href="change_password">Change Password</a></li>  
                                        </ul>
                                    </li>
                                     <li><a href="contact">Contact Us</a></li>
                                       <li th:if="${session.admin} == true" class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="manage_job">Manage Jobs</a></li>  
                                            <li><a href="add-job">Add Jobs</a></li> 
                                             <li><a href="manage_testimonial">Manage TestiMonial</a></li>  
                                        </ul>
                                    </li>
                                </ul>
                            </div>
					</nav>
				</div>
				<div class="col-md-3 text-right" th:if="${session.active} == null">
					<a href="login" class="login">Login</a> <a href="signup"
						class="signup">Sign Up</a>

				</div>
				<div class="col-md-3 text-right" th:if="${session.active} == true">
					 <span class="userName_span" th:text="'Welcome '+${{session.userName}}"></span><a  href="logout" class="login">Log out</a>
				</div>
			</div>
		</div>
	</div>
	<div class="page_banner banner post-banner">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="banner-heading">Post A Job</div>
				</div>
			</div>
		</div>
	</div>
	<main id="maincontent">
	<section class="resume">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="page-heading">
						<h2>Add A Job</h2>

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<form th:action="@{/register_job}" th:object="${job_set}"
						method="post" enctype="multipart/form-data">
						<div class="panel-body">
							<div class="panel-heading">Job Details</div>
							<div class="form-group col-md-6 p-l">
								<label>Job Title</label> <input type="hidden" th:field="*{jobSetId}"
									class="form-control" /> <input type="text"
									th:field="*{jobTitle}" class="form-control" required="required" />

							</div>
							<div class="form-group col-md-6 p-r">
								<label>Skills</label> <select  class="form-control"
									th:field="*{skillSet}" required="required" multiple="multiple" data-live-search="true" >
									<option th:each="foo : ${skills}" th:value="${{foo}}"
										th:field="*{skillSet}" th:text="${foo.skillName}" />
								</select>

							</div>
							
								<div class="form-group col-md-6 p-l">
								<label>Min.Experience </label> <input type="number"
									class="form-control" th:field="*{minExperience}" placeholder=""
									required="required" />
							</div>
									
							<div class="form-group col-md-6 p-r">
									<label>Max.Experience </label> <input type="number"
									class="form-control" th:field="*{maxExperience}" placeholder=""
									required="required" />
							</div>

							<div class="form-group col-md-6 p-l">
								<label>Job Category</label> <select 
									class="form-control" th:field="*{jobCategory}" required="required"
									multiple="multiple" data-live-search="true" >
									<option th:each="foo : ${job_categories}" th:value="${{foo}}"
										th:field="*{jobCategory}" th:text="${foo.category}" />
								</select>
							</div>

							<div class="form-group col-md-12 p-l p-r">
								<label>Job Description</label>
								<textarea class="form-control" 
									th:field="*{jobDescription}" spellcheck="false"
									autofocus="autofocus" placeholder="Enter something ..."
									required="required">

                                        </textarea>
							</div>

							<!-- <div class="borderfull-width"></div>
							<div class="panel-heading">Company Information</div> -->

							<div class="form-group col-md-6 p-l">
								<label>Company Name</label> <input type="text"
									th:field="*{companyName}" class="form-control"
									required="required" />
							</div>
							<div class="form-group col-md-6 p-r">
								<label>Phone Number</label> <input type="text"
									th:field="*{phoneNumber}" class="form-control"
									required="required" />
							</div>
							<div class="form-group col-md-6 p-l">
								<label>Email</label> <input type="text" th:field="*{email}"
									class="form-control" required="required" />
							</div>

							<div class="form-group col-md-6 p-r">
								<label>Website (Optional)</label> <input type="text"
									th:field="*{webSiteAddress}" class="form-control"
									placeholder="eg. www.example.com" />
							</div>
							<div class="form-group col-md-6 p-l">
								<label>Address</label>
								<textarea class="form-control" 
									th:field="*{address}" spellcheck="false" autofocus="autofocus"
									placeholder="Enter something ..." required="required">

                                        </textarea>
							</div>

							<div class="form-group col-md-6 p-r">
								<label>Company Logo <span>(max. file size 3MB)</span></label> <input
									type="file" name="img[]" class="file form-control" /> <img th:src="${job_set.logoPath}"
									id="logoPath" class="media-object" width="200"
									height="200" />
								<form-group> <span class="btn btn-default btn-file">

									<input type="file" name="logo" class="form-control"
									id="logo" onchange="readURL(this,'#logoPath');"
									accept="image/gif, image/jpeg, image/png" />
								
								</span></form-group>
							</div>
							<div class="col-md-12 p-l">
								<input type="submit" class="btn btn-success" value="Submit"></input>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	</main>
	  <div id="alertMsg" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
		                    <div class="modal-dialog modal-sm">
		                      <div class="modal-content">
		                        <div class="modal-header">
		                          <h4 class="modal-title" id="myModalLabel"><span id="myModalLabel2">Info</span></h4>
		                        </div>
		                        <div class="modal-body">
		                        	<p style="text-align:justify"><span id="alertmessagebody">Invalid end date</span> </p>
		                           <div class="modal-footer">
		                           <span id="errorwarning" ></span><button type="button"  id="dialogok" data-dismiss="modal" class="btn btn-default">OK</button>
		                        </div>
		                        </div>
		                      </div>
		                    </div>
                  		</div>
	<footer id="footer">

		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 padding-left">
						<span>&#169; 2017 Paskal. All rights reserved.</span>
					</div>

				</div>
			</div>
		</div>
	</footer>
	<!-- jQuery -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/plugins/wysihtml5/wysihtml5-0.3.0.js"></script>
	<script src="assets/js/wysihtml.js"></script>
	<script src="assets/js/file.js"></script>
	<script src="assets/js/common.js"></script>
	<script>
                function readURL(input,imageId) {
    if (input.files) {
    	if(input.files[0]){
    		var reader = new FileReader();
            reader.onload = function (e) {
                $(imageId)
                    .attr('src', e.target.result)
                    .width(150)
                    .height(150);
            };
            reader.readAsDataURL(input.files[0]);
            console.log("resd");
    	}
    }
}
                </script>
                 <script th:inline="javascript">
  				/*<![CDATA[*/
                $(document).ready(function(){
                	var temp = [[${errorMessage}]];
                	if(temp != null){
                		document.getElementById("alertmessagebody").innerHTML=temp.message;
               		 $('#alertMsg').modal({
 					        show: 'true'
 					  });
                	}
                	
                });
                /*]]>*/
                </script>
</body>
</html>
