<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <title>Job Xpress</title>   
 		<link rel="icon" href="assets/images/home/favicon.ico" th:href="@{/static/favicon.ico}" />
        <!-- Bootstrap -->
        <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
        <!--font awesome-->
        <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"></link>
        <!--custom css-->
        <link href="assets/plugins/themify/themify-icons.css" rel="stylesheet"></link>
        <link rel="stylesheet" href="assets/plugins/wysihtml5/wysihtml5.css" type="text/css"></link>
        <link href="assets/css/style.css" rel="stylesheet"></link>
        <link href="assets/css/responsive.css" rel="stylesheet"></link>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet"></link>
		<!-- <style>
		nav.navbar.navbar-default.navbar-static-top	{
width:120%;
}</style> -->
    </head>
    <body>
        <div class="header-stricky">
            <div class="container">
                <div class="row" >
                    <div class="col-md-3">
                        <div class="site-logo">
                            <a href="index.html"><img src="assets/images/home/site-logo.svg" alt="" class="img-responsive" /></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                      <nav class="navbar navbar-default navbar-static-top">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div> 
                              <div id="navbar" class="navbar-collapse collapse" >
                                <ul class="nav navbar-nav scrollto">  
                                    <li><a href="index">Home</a></li>
									 <li><a href="about">About</a></li> 
									  <li th:if="${session.user} == true OR ${session.admin}==true"><a href="services">Services</a></li>
									  <li><a href="job_listing">Jobs</a></li>
									 <li  class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Testimonials <i class="fa fa-angle-down"></i></a>
									 <ul class="dropdown-menu">
									  <li><a href="add-testimonials">Add Testimonials</a></li></ul>
									 </li>
									   <li th:if="${session.user} == true" class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile <i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="edit_profile">Edit Profile</a></li> 
                                             <li><a href="change_password">Change Password</a></li>  
                                        </ul>
                                    </li>
                                     <li><a href="contact">Contact Us</a></li>
                                      <li th:if="${session.admin} == true" class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="manage_job">Manage Jobs</a></li>  
                                            <li><a href="add-job">Add Jobs</a></li> 
                                             <li><a href="manage_testimonial">Manage TestiMonial</a></li>  
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav>  
                    </div>
                           <div class="col-md-3 text-right" th:if="${session.active} == null">
                                <a  href="login" class="login">Login</a>
								 <a href="signup" class="signup">Sign Up</a>
                                
                            </div>
                            <div class="col-md-3 text-right" th:if="${session.active} == true">
                                <span class="userName_span" th:text="'Welcome '+${{session.userName}}"></span><a  href="logout" class="login">Log out</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page_banner banner post-banner">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="banner-heading">Add Testimonials</div>    
                            </div>  
                        </div>
                    </div>
                </div>
                <main id="maincontent">
                    <section class="resume">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                 <form id="login" th:action="@{/insert_testimonial}" th:object="${add_testimonial}" method="post">
                                    <div class="panel-body">
                                    
                                        <div class="form-group col-md-6 p-l">
										<label>Name</label>
                                            <input type="text" class="form-control" id="userNameField" th:if="${session.active} == true" readonly="readonly" th:name="*{userName}" th:value="${session.userEmail}"/>
                                             <input type="hidden" class="form-control" id="userNameField" th:if="${session.active} == true" th:name="*{userName}" th:value="${session.userEmail}"/>
                                            <input type="text" class="form-control"  id="userNameField" pattern= "[A-Za-z].{4,}" onkeypress="checkText()" th:if="${session.active} == null" th:field="*{userName}"/>
                                        </div>
                                        
										 
										 
                                        
                                       
                                        
                                        <div class="form-group col-md-12 p-l p-r">
                                            <label>Testimonial Details</label>
                                           <!--  <div id="wysihtml5-editor-toolbar">
                                            <header>
                                                <ul class="commands">
                                                    <li data-wysihtml5-command="bold" title="Make text bold (CTRL + B)" class="command"></li>
                                                    <li data-wysihtml5-command="italic" title="Make text italic (CTRL + I)" class="command"></li>
                                                    <li data-wysihtml5-command="insertUnorderedList" title="Insert an unordered list" class="command"></li>
                                                    <li data-wysihtml5-command="insertOrderedList" title="Insert an ordered list" class="command"></li>
                                                    <li data-wysihtml5-command="createLink" title="Insert a link" class="command"></li>
                                                    <li data-wysihtml5-command="insertImage" title="Insert an image" class="command"></li>
                                                    <li data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1" title="Insert headline 1" class="command"></li>
                                                    <li data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2" title="Insert headline 2" class="command"></li>
                                                    <li data-wysihtml5-command-group="foreColor" class="fore-color command" title="Color the selected text" >
                                                    <ul>
                                                        <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="silver"></li>
                                                        <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="gray"></li>
                                                        <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="maroon"></li>
                                                        <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="red"></li>
                                                        <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="purple"></li>
                                                        <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="green"></li>
                                                        <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="olive"></li>
                                                        <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="navy"></li>
                                                        <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="blue"></li>
                                                    </ul>
                                                    </li>
                                                    <li data-wysihtml5-command="insertSpeech" title="Insert speech" class="command"></li>
                                                    <li data-wysihtml5-action="change_view" title="Show HTML" class="action"></li>
                                                </ul>
                                        </header>
                                        <div data-wysihtml5-dialog="createLink" style="display: none;">
                                            <label>
                                                Link:
                                                <input data-wysihtml5-dialog-field="href" value="http://"/>
                                            </label>
                                            <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
                                        </div>
                                        <div data-wysihtml5-dialog="insertImage" style="display: none;">
                                            <label>
                                                Image:
                                                <input data-wysihtml5-dialog-field="src" value="http://"/>
                                            </label>
                                            <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
                                        </div>
                                        </div> -->
                                        <textarea autofocus="true" class="form-control" id="testimonialText"  onkeypress="checkText()" th:field="*{message}" spellcheck="true"  placeholder="Enter something ...">
                                        </textarea>
                                        </div>
                                       
                                        </div>
                                          <input type="submit" class="btn btn-success" id="testimonialSubmit" disabled="disabled" value="submit"/>
                                        </form>                               
                                    </div>
                                </div>
                            </div>
                    </section>
                </main>
                <footer id="footer">
                    
                    <div class="footer-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 padding-left">
                                    <span>&#169; 2017 Paskal. All rights reserved.</span>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </footer>
                <div id="alertMsg" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
		                    <div class="modal-dialog modal-sm">
		                      <div class="modal-content">
		                        <div class="modal-header">
		                          <h4 class="modal-title" id="myModalLabel"><span id="myModalLabel2">Info</span></h4>
		                        </div>
		                        <div class="modal-body">
		                        	<p style="text-align:justify"><span id="alertmessagebody">Invalid end date</span> </p>
		                           <div class="modal-footer">
		                           <span id="errorwarning" ></span><button type="button"  id="dialogok" data-dismiss="modal" class="btn btn-default">OK</button>
		                        </div>
		                        </div>
		                      </div>
		                    </div>
                  		</div>
                <!-- jQuery -->
                <script src="assets/js/jquery.min.js"></script>
                <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
                <script src="assets/plugins/wysihtml5/wysihtml5-0.3.0.js" ></script>
                <script src="assets/js/wysihtml.js"></script>
                <script src="assets/js/file.js"></script>
                <script src="assets/js/common.js"></script>
                
                  <script th:inline="javascript">
  				/*<![CDATA[*/
                $(document).ready(function(){
                	var temp = [[${errorMessage}]];
                	console.log(temp);
                	if(temp != null){
                		document.getElementById("alertmessagebody").innerHTML=temp.message;
                  		 $('#alertMsg').modal({
    					        show: 'true'
    					  });
                	}
                	
                });
  				function checkText(){
  					var userNameField = document.getElementById("userNameField").value;
  					var text = document.getElementById("testimonialText").value;
  					console.log(text.length);
  					if(text.length>1 && userNameField.trim().length>4){
  						var text2 =text.trim();
  						if(text2.length!=0){
  							document.getElementById("testimonialSubmit").disabled = false;
  						}else{
  							document.getElementById("testimonialSubmit").disabled = true;
  						}
  					}else{
  						document.getElementById("testimonialSubmit").disabled = true;
  					}
  					
  				}
                /*]]>*/
                </script>
            </body>
        </html>
