<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<title>Job Xpress</title>
<link rel="icon" href="assets/images/home/favicon.ico" th:href="@{/static/favicon.ico}" />
<!-- Bootstrap -->
<link href="assets/plugins/bootstrap/css/bootstrap.min.css"
	rel="stylesheet"></link>
<!--font awesome-->
<link href="assets/plugins/font-awesome/css/font-awesome.min.css"
	rel="stylesheet"></link>
<!--custom css-->
<link href="assets/plugins/themify/themify-icons.css" rel="stylesheet"></link>
<link href="assets/css/style.css" rel="stylesheet"></link>
<link href="assets/css/responsive.css" rel="stylesheet"></link>
<link
	href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
	rel="stylesheet"></link>
</head>
<style>
#personal-submit-button{
    margin-top: 50px;
    float: right;
     margin:10px;
   }
   #download_resume{
    margin-top:10px;
    margin-left: -7px;
   }
   #eduction-table{
   margin-top: 25px;
   }
   /* nav.navbar.navbar-default.navbar-static-top	{
width:120%;
} */
</style>
<body>
	<div class="header-stricky">
		<div class="container">
			<div class="row" >
				<div class="col-md-3">
					<div class="site-logo">
						<a href="index.html"><img
							src="assets/images/home/site-logo.svg" alt=""
							class="img-responsive" /></a>
					</div>
				</div>
				<div class="col-md-6">
					<nav class="navbar navbar-default navbar-static-top">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed"
								data-toggle="collapse" data-target="#navbar"
								aria-expanded="false" aria-controls="navbar">
								<span class="sr-only">Toggle navigation</span> <span
									class="icon-bar"></span> <span class="icon-bar"></span> <span
									class="icon-bar"></span>
							</button>
						</div>
						<div id="navbar" class="navbar-collapse collapse">
							<ul class="nav navbar-nav scrollto">
								<li><a href="index">Home</a></li>
								<li><a href="about">About</a></li>
								 <li th:if="${session.user} == true OR ${session.admin}==true"><a href="services">Services</a></li>
								<li><a href="job_listing">Jobs</a></li>
								<li class="dropdown"><a href="#" class="dropdown-toggle"
									data-toggle="dropdown">Testimonials <i
										class="fa fa-angle-down"></i></a>
									<ul class="dropdown-menu">
										<li><a href="add-testimonials">Add Testimonials</a></li>
									</ul></li>
								<li th:if="${session.user} == true" class="dropdown"><a
									href="#" class="dropdown-toggle" data-toggle="dropdown">Profile
										<i class="fa fa-angle-down"></i>
								</a>
									<ul class="dropdown-menu">
										<li><a href="edit_profile">Edit Profile</a></li>
										<li><a href="change_password">Change Password</a></li>
									</ul></li>
								<li><a href="contact">Contact Us</a></li>
								<li th:if="${session.admin} == true" class="dropdown"><a
									href="#" class="dropdown-toggle" data-toggle="dropdown">Actions
										<i class="fa fa-angle-down"></i>
								</a>
									<ul class="dropdown-menu">
										<li><a href="manage_job">Manage Jobs</a></li>
										<li><a href="add-job">Add Jobs</a></li>
										<li><a href="manage_testimonial">Manage TestiMonial</a></li>
									</ul></li>
							</ul>
						</div>
					</nav>
				</div>
				<div class="col-md-3 text-right" th:if="${session.active} == null">
					<a href="login" class="login">Login</a> <a href="signup"
						class="signup">Sign Up</a>

				</div>
				<div class="col-md-3 text-right" th:if="${session.active} == true">
					 <span class="userName_span" th:text="'Welcome '+${{session.userName}}"></span><a  href="logout" class="login">Log out</a>
				</div>
			</div>
		</div>
	</div>
	<div class="page_banner banner resume-banner">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="banner-heading">Edit Profile</div>
				</div>
			</div>
		</div>
	</div>
	<main id="maincontent">
	<section class="resume">
		<div class="container">
			<div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" href="#collapse1">Personal
								Information</a>
						</h4>
					</div>
					<div id="collapse1" class="panel-collapse collapse">
					 <form id="" th:action="@{/update_personal_profile}" th:object="${user_profile}" method="post">
						<div class="panel-body">
							<div class="col-sm-6">
								<div class="form-group">
										<input type="hidden"
										class="form-control" id="first_name" required="required"
										
										
										  th:field="*{userId}"></input>
									<label>First Name</label> <input type="text"
										class="form-control" id="first_name" required="required"
										pattern="[A-Za-z].{3,}" title="min 3 characters"
										data-validation-required-message="Please enter your name."
										autocomplete="off" th:field="*{userFirstName}"></input>



								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">

									<label>Last Name</label> <input type="text"
										class="form-control" id="last_name" required="required"
										pattern="[A-Za-z].{3,}" title="min 3 characters"
										data-validation-required-message="Please enter your name."
										autocomplete="off" th:field="*{userLastName}"></input>


								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">

									<label>Username</label> <input type="text" class="form-control"
										id="last_name" required="required" pattern="[A-Za-z].{3,}"
										title="min 3 characters"
										data-validation-required-message="Please enter your name."
										readonly="readonly" th:field="*{userName}"></input>


								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label> Email </label> <input type="email" class="form-control"
										id="email" required="required"
										data-validation-required-message="Please enter your email address."
										readonly="readonly" autocomplete="off" th:field="*{userEmail}"></input>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label> Mobile No </label> <input type="tel"
										class="form-control" id="phone-no" pattern="[0-9]{10}"
										required="required"
										data-validation-required-message="Please enter your password"
										autocomplete="off" th:field="*{phoneNo}"></input>

								</div>
							</div>
							
						
						<div class="col-sm-6">
							<div class="form-group">
						<button type="submit"  id="personal-submit-button" class="btn btn-default"
												data-dismiss="modal">Submit</button>
												</div>
												</div>
												</div>
						</form>
						<!-- <div class="panel-footer">Panel Footer</div> -->
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" href="#collapse2">Educational
								Information</a>
						</h4>
					</div>
					<div id="collapse2" class="panel-collapse collapse">
						<div class="panel-body">
							<button type="button" class="btn btn-info btn-lg"
								data-toggle="modal" data-target="#myModal">+ Add
								Education</button>
								<br/>
						<table id="eduction-table" class="table table-striped table-bordered" style="width:100%">
						<thead>
					            <tr>
					                <th>Graduation</th>
					                <th>University</th>
					                <th>Course Type</th>
					                <th>Year</th>
					                <th>Percentage/CGPA</th>
					                <th>Edit</th>
					                <th>Delete</th>
					            </tr>
					            </thead>
					            <tbody>
					              <tr  th:each="item,stat : ${user_profile.education}">
					            <td th:text="${item.graduation.graduationName}"></td>
					            <td th:text="${item.university.universityName}"></td>
					            <td th:text="${item.courseType}"></td>
					             <td th:text="${item.year}"></td>
					             <td th:text="${item.percentage}"></td>
					             <td> 
					              <button type="button" class="btn btn-success  btn-xs"  data-toggle="modal" th:attr="data-target='.modal1-'+${item.educationId}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
					              <!-- pop up dialog -->
									<div th:class="'modal fade modal1-'+${item.educationId}" tabindex="-1" role="dialog" aria-hidden="true">
									<div class="modal-dialog">
									<div class="modal-content">
									<form th:action="@{/update_education}" method="POST">
									<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
									 </button>
									<h4 class="modal-title" id="myModalLabel2">Update Education</h4>
									</div>
									<div class="modal-body" style="height: 300px;">
								<div class="col-sm-6">
								<div class="form-group">
								<input type="hidden" th:name="educationId" th:value="*{item.educationId}"/>
									<label> Graduation </label> <select class="form-control"
									data-validation-required-message="Please select graduation type"
										required="required" data-live-search="true" th:name="graduation">
										<option value="">Select Graduation</option>
						 				<option th:each="foo : ${graduation_list}"
											th:selected="${user_profile.education[__${stat.index}__].graduation} ==  ${foo}" th:value="${foo.graduationId}"
											th:text="${foo.graduationName}" />
									</select>
								</div>
								</div>


							<div class="col-sm-6">
								<div class="form-group">
									<label>YEAR</label> <input type="date" class="form-control"
									data-validation-required-message="Please enter year of pass"
										placeholder="" required="required" th:name="year" th:value="*{item.year}"/>
								</div>
							</div>
							
							
							
							<div class="col-sm-6">
									<div class="form-group" style="width: 350px;">
									<label> Course Type </label><br/>
										<input type="radio" class="courseType" th:name="courseType"
											value="FT" required="required" th:checked="${user_profile.education[__${stat.index}__].courseType=='FT'}"> Full Time </input><br/> 
											<input type="radio"
											class="courseType" th:name="courseType" value="PT"
											th:checked="${user_profile.education[__${stat.index}__].courseType=='PT'}"
											 data-validation-required-message="Please select course type" required="required">
										Part Time </input><br/> 
										<input type="radio" class="courseType" 
										th:checked="${user_profile.education[__${stat.index}__].courseType=='CT'}"
											th:name="courseType" value="CT" data-validation-required-message="Please select course type" required="required"> Correspondence </input>
									</div>
								</div>
								<div class="col-sm-6">
								<div class="form-group">
									<label> University </label> <select class="form-control"
									data-validation-required-message="Please select university"
										required="required" data-live-search="true" th:name="university">
										<option value="">Select University</option>
										<option th:each="foo : ${university_list}"
										th:selected="${user_profile.education[__${stat.index}__].university} ==  ${foo}"
											th:value="${foo.univerSityId}"
											th:text="${foo.universityName}" />
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label> Percentage </label> <input type="number"
										class="form-control" id="percentage" pattern="[0-9]+(\.[0-9]{0,2})?%?"
										required="required" min="0" max="100"
										data-validation-required-message="Please enter your Percentage/CGPA"
										th:value="*{item.percentage}"
										autocomplete="off" th:name="percentage"></input>

								</div>
							</div>
							
							</div>
						<div class="modal-footer">
							 <button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
							<button type="submit" class="btn btn-default">Update</button>
							 </div>
							</form>
						 </div>
						</div>
						</div>
							<!--  pop up dialog end -->
					             </td>
					             
					             <td> 
					             <form ACTION="#"  th:action="@{/delete_education}" method="POST">
									<input type="hidden" th:name="educationId" th:value="*{item.educationId}"/>
					              <button type="submit" class="btn btn-danger  btn-xs" ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </button>
					              </form>
					              </td>
					            </tr>
					            </tbody>
					        
						</table>
						</div>
						<!-- <div class="panel-footer">Panel Footer</div> -->
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" href="#collapse3">Experience</a>
						</h4>
					</div>
					<div id="collapse3" class="panel-collapse collapse">
						<div class="panel-body">
						  <input name="collapseGroup" type="radio" data-toggle="collapse" data-target="#collapseOne" th:checked="${user_profile.typeOfExperience=='experienced'}"/> Experienced
						  <input name="collapseGroup" type="radio" data-toggle="collapse" data-target="#collapseOne" th:checked="${user_profile.typeOfExperience!='experienced'}"/> Fresher
						  
						    <div id="collapseOne" th:class="${user_profile.typeOfExperience=='experienced'} ? 'panel-collapse collapse in':'panel-collapse collapse'">
            					<div class="panel-body">
              					<button type="button" class="btn btn-info btn-lg"
								data-toggle="modal" data-target="#myModal1">+ Add
								Experience</button>
           				 </div>
           				 <table id="experience-table" class="table table-striped table-bordered" style="width:100%">
						<thead>
					            <tr>
					                <th>Employer Name</th>
					                <th>Joining Date</th>
					                <th>End Date</th>
					                <th>Designation</th>
					                <th>Type Of Employeer</th>
					                <th>Edit</th>
					                <th>Delete</th>
					            </tr>
					        </thead>
					         <tr  th:each="item,stat : ${user_profile.experience}">
					            <td th:text="${item.employerName}"></td>
					            <td th:text="${item.joiningDate}"></td>
					            <td th:text="${item.endDate}"></td>
					             <td th:text="${item.designation}"></td>
					             <td th:text="${item.typeOfEmployer}"></td>
					             <td> 
					              <button type="button" class="btn btn-success  btn-xs"  data-toggle="modal" th:attr="data-target='.modal-'+${item.experienceId}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
					              <!-- pop up dialog -->
																	        <div th:class="'modal fade modal-'+${item.experienceId}" tabindex="-1" role="dialog" aria-hidden="true">
																	                    <div class="modal-dialog">
																	                      <div class="modal-content">
																							<form th:action="@{/updateExperience}" method="POST">
																	                        <div class="modal-header">
																	                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
																	
																	                          </button>
																	                          <h4 class="modal-title" id="myModalLabel2">Update Experience</h4>
																	                        </div>
																	                        <div class="modal-body" style="height: 300px;">
										<div class="col-sm-6">
								<div class="form-group">
								<input type="hidden" th:name="experienceId" th:value="*{item.experienceId}"/>
									<label> Type Of Employer</label> <select class="form-control" onchange="typeOfJobUpdate(this)" th:name="typeOfEmployer"
										required="required" data-live-search="true" th:value="*{item.typeOfEmployer}">
										<option value="">Select type of employer</option>
										<option value="current" th:selected="${user_profile.experience[__${stat.index}__].typeOfEmployer == 'current'}">Current</option>
										<option value="previous" th:selected="${user_profile.experience[__${stat.index}__].typeOfEmployer == 'previous'}">previous</option>
									</select>

								</div>
							</div>
								<div class="col-sm-6">
								<div class="form-group">
									<label> Employer Name </label> 
									<input type="text" class="form-control"
										id="text" required="required"
										pattern="[A-Za-z]"
										data-validation-required-message="Please enter employer name."
										autocomplete="off" th:name="employerName" th:value="*{item.employerName}"></input>
								</div>
								</div>
							
								<div class="col-sm-6">
									<div class="form-group">
									<label> Start Date </label><br/>
									<input type="date" class="form-control" id="joiningDateUpdate" min='1990-01-01' oninput="onStartDateSelection()" onBlur="onStartDateSelection()" th:name="joiningDate" th:value="*{item.joiningDate}" required="required"/>
									</div>
								</div>
								<div class="col-sm-6">
								<div class="form-group">
									<label>Designation</label> <input type="text" class="form-control"
									pattern="[A-Za-z]"
										th:name="designation" th:value="*{item.designation}" placeholder="" required="required" />
								</div>
							</div>

							<div class="col-sm-6">
								<div class="form-group">
									<label> End Date </label>
									<input type="date" class="form-control" id="endDateUpdate" min='1990-01-02' oninput="onEndDateSelection()" onBlur="onEndDateSelection()" th:value="*{item.endDate}"  th:name="endDate" required="required"/>
								</div>
							</div>

						</div>
						<div class="modal-footer">
							 <button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
							<button type="submit" class="btn btn-default">Update</button>
							 </div>
							</form>
						 </div>
						</div>
						</div>
							<!--  pop up dialog end -->
					             </td>
					             <td> 
					             <form ACTION="#"  th:action="@{/delete_experience}" method="POST">
									<input type="hidden" th:name="experienceId" th:value="*{item.experienceId}"/>
					              <button type="submit" class="btn btn-danger  btn-xs" ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </button>
					              </form>
					              </td>
					            </tr>
						</table>
          </div>
						
						</div>
						<!-- <div class="panel-footer">Panel Footer</div> -->
					</div>
				</div>
				
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" href="#collapse4">Upload Resume</a>
						</h4>
					</div>
					<div id="collapse4" class="panel-collapse collapse">
						<div class="panel-body">
						 <form th:action="@{/upload_resume}" th:object="${user_profile}"
													method="post" enctype="multipart/form-data">
                                            <div class="form-group col-md-3 p-r">
												<label> <span>(max. file size 3MB)</span></label>
												<form-group> 
													<input type="hidden" th:field="*{userId}"/>
													<input type="file" name="resume" class="form-control"
																	id="resume" onchange="readURL(this,'#resumePath');"
																accept="*/.docx" />
													
												
                                                        <input type="submit" disabled="disabled" id="submitResume" class="btn btn-larger btn-block" value="Upload Resume"></input>
                                                        <br/>
                                                        <br/>
                                                        <br/>
                                                        <span th:if="${user_profile?.resumePath!=null}">
	                                                       <a th:href="${user_profile?.resumePath}" id="download_resume" class="btn btn-larger btn-block" target="_blank">Download Resume</a>
	                                                       </span> 
												</form-group>
                                                </div>
                                                 </form>
						</div>
					</div>
					
				</div>	
			</div>
			
			
			<!-- pop dialog start for education -->
							<div class="modal fade" id="myModal" role="dialog">
								<div class="modal-dialog">
								 <form id="" th:action="@{/add_education}"  method="post">
									<!-- Modal content-->
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">Add Education</h4>
										</div>
										<div class="modal-body" style="height: 300px;">
								<div class="col-sm-6">
								<div class="form-group">
									<label> Graduation </label> <select class="form-control"
									data-validation-required-message="Please select graduation type"
										required="required" data-live-search="true" th:name="graduation">
										<option value="">Select Graduation</option>
						 				<option th:each="foo : ${graduation_list}"
											th:value="${foo.graduationId}"
											th:text="${foo.graduationName}" />
									</select>
								</div>
								</div>


							<div class="col-sm-6">
								<div class="form-group">
									<label>YEAR</label> <input type="date" id="addEductionDate" class="form-control"
									data-validation-required-message="Please enter year of pass"
										placeholder="" required="required" min='1990-01-01' th:name="year"/>
								</div>
							</div>
							
							
							
							<div class="col-sm-6">
									<div class="form-group" style="width: 350px;">
									<label> Course Type </label><br/>
										<input type="radio" class="courseType" th:name="courseType"
											value="FT" required="required"> Full Time </input><br/> <input type="radio"
											class="courseType" th:name="courseType" value="PT" data-validation-required-message="Please select course type" required="required">
										Part Time </input><br/> <input type="radio" class="courseType" 
											th:name="courseType" value="CT" data-validation-required-message="Please select course type" required="required"> Correspondence </input>
									</div>
								</div>
								<div class="col-sm-6">
								<div class="form-group">
									<label> University </label> <select class="form-control"
									data-validation-required-message="Please select university"
										required="required" data-live-search="true" th:name="university">
										<option value="">Select University</option>
										<option th:each="foo : ${university_list}"
											th:value="${foo.univerSityId}"
											th:text="${foo.universityName}" />
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label> Percentage </label> <input type="number"
										class="form-control" id="percentage" pattern="[0-9]+(\.[0-9]{0,2})?%?"
										required="required" min="0" max="100"
										data-validation-required-message="Please enter your Percentage/CGPA"
										autocomplete="off" th:name="percentage"></input>

								</div>
							</div>
							
							</div>
										
										<div class="modal-footer">
											<button type="SUBMIT" id="add-education" class="btn btn-default"
												>Submit</button>
										</div>
									</div>
								</form>
								</div>
								</div>
							</div>
							
							<!-- pop dialog end for education -->
							
							
							<!-- pop dialog start for Experience -->
							<div class="modal fade" id="myModal1" role="dialog">
								<div class="modal-dialog">
 							<form id="" th:action="@{/add_experience}"  method="post">
									<!-- Modal content-->
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">Add Experience</h4>
										</div>
										<div class="modal-body" style="height: 300px;">
										<div class="col-sm-6">
								<div class="form-group">
									<label> Type Of Employer</label> <select class="form-control" onchange="typeOfJob(this)" th:name="typeOfEmployer"
										required="required" data-live-search="true">
										<option value="">Select type of employer</option>
										<option value="current">Current</option>
										<option value="previous">previous</option>
									</select>

								</div>
							</div>
								<div class="col-sm-6">
								<div class="form-group">
									<label> Employer Name </label> 
									<input type="text" class="form-control"
										id="email" required="required"
										data-validation-required-message="Please enter employer name."
										autocomplete="off" th:name="employerName"></input>
								</div>
								</div>
							
								<div class="col-sm-6">
									<div class="form-group">
									<label> Start Date </label><br/>
									<input type="date" class="form-control" id="joiningDate" min='1990-01-01'  th:name="joiningDate" required="required"/>
									</div>
								</div>
								<div class="col-sm-6">
								<div class="form-group">
									<label>Designation</label> <input type="text" class="form-control"
										th:name="designation" placeholder="" required="required" />
								</div>
							</div>

							<div class="col-sm-6">
								<div class="form-group">
									<label> End Date </label>
									<input type="date" class="form-control" id="endDate" min='1990-01-02' oninput="onEndDateSelection()"  th:name="endDate" required="required"/>
								</div>
							</div>

										</div>
										<div class="modal-footer">
											<button type="submit" class="btn btn-default"
												>Submit</button>
										</div>
									</div>
								</form>
								</div>
							</div>
							
							<!-- pop dialog end for education -->
							
						  <div id="warning" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
		                    <div class="modal-dialog modal-sm">
		                      <div class="modal-content">
		                        <div class="modal-header">
		                          <h4 class="modal-title" id="myModalLabel2"><span id="myModalLabel2">Warning</span></h4>
		                        </div>
		                        <div class="modal-body">
		                        	<p style="text-align:justify"><span id="messagebody">Invalid end date</span> </p>
		                           <div class="modal-footer">
		                           <span id="errorwarning" ></span><button type="button"  id="dialogok" data-dismiss="modal" class="btn btn-default">Close</button>
		                        </div>
		                        </div>
		                      </div>
		                    </div>
                  		</div>
                  		<div id="alertMsg" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
		                    <div class="modal-dialog modal-sm">
		                      <div class="modal-content">
		                        <div class="modal-header">
		                          <h4 class="modal-title" id="myModalLabel"><span id="myModalLabel2">Info</span></h4>
		                        </div>
		                        <div class="modal-body">
		                        	<p style="text-align:justify"><span id="alertmessagebody">Invalid end date</span> </p>
		                           <div class="modal-footer">
		                           <span id="errorwarning" ></span><button type="button"  id="dialogok" data-dismiss="modal" class="btn btn-default">OK</button>
		                        </div>
		                        </div>
		                      </div>
		                    </div>
                  		</div>
	</section>
	</main>
	<footer id="footer">

		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 padding-left">
						<span>&#169; 2017 Paskal. All rights reserved.</span>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- jQuery -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/js/file.js"></script>
	<script src="assets/js/common.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="assets/js/daterangepicker.js"></script>
	 <script th:inline="javascript">
  				/*<![CDATA[*/
  				           
  				           
  				function typeOfJob(selectedvalue){
  					console.log(selectedvalue.value);
  					if(selectedvalue.value === "current"){
  						document.getElementById("endDate").disabled=true;
  					}else{
  						document.getElementById("endDate").disabled=false;
  					}
  				}
  				function typeOfJobUpdate(selectedvalue){
  					console.log(selectedvalue.value);
  					if(selectedvalue.value === "current"){
  						document.getElementById("endDateUpdate").disabled=true;
  						//document.getElementById("endDateUpdate").value=null;
  					}else{
  						document.getElementById("endDateUpdate").disabled=false;
  					}
  				}
  				
  				function onStartDateSelection(){
  					console.log(document.getElementById("joiningDate").value);
  					console.log(document.getElementById("endDate").value);
  					 var dStartDate = Date.parse(document.getElementById("joiningDate").value, "dd/MM/yyyy");
  					 var dendDate = Date.parse(document.getElementById("endDate").value, "dd/MM/yyyy");
  					console.log(dStartDate);
  					console.log(dendDate);
  					 if(dStartDate>dendDate){
  						 console.log("dfsdf");
  						 $('#warning').modal({
 					        show: 'true'
 					  });
  						document.getElementById("endDate").value="";
  					 }
  				}
  				function onEndDateSelection(){
  					console.log(document.getElementById("joiningDate").value);
  					console.log(document.getElementById("endDate").value);
  					 var dStartDate = Date.parse(document.getElementById("joiningDate").value, "dd/MM/yyyy");
  					 var dendDate = Date.parse(document.getElementById("endDate").value, "dd/MM/yyyy");
  					console.log(dStartDate);
  					console.log(dendDate);
  					 if(dStartDate>dendDate){
  						 console.log("dfsdf");
  						 $('#warning').modal({
 					        show: 'true'
 					  });
  						document.getElementById("endDate").value="";
  					 }
  					
  				}
  				           
  				           function addrow(){
  				        	 console.log("edit_profile_new:339 Uncaught TypeError: $(...).dataTable is not a function");
  				}
  				         function readURL(input,imageId) {
  				        	 document.getElementById("submitResume").disabled=false;
  					        if (input.files) {
  					        	if(input.files[0]){
  					        		var reader = new FileReader();
  					                reader.onload = function (e) {
  					                    $(imageId)
  					                        .attr('src', e.target.result)
  					                        .width(150)
  					                        .height(150);
  					                };
  					                reader.readAsDataURL(input.files[0]);
  					        	}
  					        }
  					    }
  				       function formatDate() {
  				    	    var d = new Date(),
  				    	        month = '' + (d.getMonth() + 1),
  				    	        day = '' + d.getDate(),
  				    	        year = d.getFullYear();

  				    	    if (month.length < 2) month = '0' + month;
  				    	    if (day.length < 2) day = '0' + day;

  				    	    return [year, month, day].join('-');
  				    	}
$(document).ready(function() {
	var temp=[[${error}]];
	document.getElementById("endDate").max = formatDate();
	document.getElementById("joiningDate").max = formatDate();
	//document.getElementById("endDateUpdate").max = formatDate();
	//document.getElementById("joiningDateUpdate").max = formatDate();
	document.getElementById("addEductionDate").max = formatDate();
	//document.getElementById("updateEductionDate").max = formatDate();
	if(temp!=null){
		
	}
	
	$('#eduction-table').dataTable({
	    "paging": false,
	    "bFilter": false,
	    "bInfo": false
	});
	$('#experience-table').dataTable({
	    "paging": false,
	    "bFilter": false,
	    "bInfo": false
	});
    var t = $('#eduction-table').DataTable();
    var rowCount = t.length;
    
 
});
$(document).ready(function(){
	var temp = [[${errorMessage}]];
	console.log(temp);
	if(temp != null){
		document.getElementById("alertmessagebody").innerHTML=temp.message;
  		 $('#alertMsg').modal({
		        show: 'true'
		  });
	}
	
});
/*]]>*/
</script>
</body>
</html>
