<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <title>Job Xpress</title>   
 		<link rel="icon" href="assets/images/home/favicon.ico" th:href="@{/static/favicon.ico}" />
        <!-- Bootstrap -->
        <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
        <!--font awesome-->
        <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"></link>
        <!--custom css-->
        <link href="assets/plugins/themify/themify-icons.css" rel="stylesheet"></link>
        <link href="assets/css/style.css" rel="stylesheet"></link>
        <link href="assets/css/responsive.css" rel="stylesheet"></link>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet"></link>
        <style>
		/* nav.navbar.navbar-default.navbar-static-top	{
width:120%;
} */
	.strong{
		display: inline-flex;
	}
	.categories{
	    margin-right: 10px;
	}
	.button_apply{
	    float: right !important;
	    }
</style>
    </head>
    <body>
        <div class="header-stricky">
            <div class="container">
                <div class="row" >
                    <div class="col-md-3">
                        <div class="site-logo">
                            <a href="index.html"><img src="assets/images/home/site-logo.svg" alt="" class="img-responsive" /></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                      <nav class="navbar navbar-default navbar-static-top">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div> 
                    <div id="navbar" class="navbar-collapse collapse" >
                                <ul class="nav navbar-nav scrollto">  
                                    <li><a href="index">Home</a></li>
									 <li><a href="about">About</a></li> 
									 <li th:if="${session.user} == true OR ${session.admin}==true"><a href="services">Services</a></li>
									  <li><a href="job_listing">Jobs</a></li>
									 <li  class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Testimonials <i class="fa fa-angle-down"></i></a>
									 <ul class="dropdown-menu">
									  <li><a href="add-testimonials">Add Testimonials</a></li></ul>
									 </li>
									   <li th:if="${session.user} == true" class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile <i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="edit_profile">Edit Profile</a></li> 
                                             <li><a href="change_password">Change Password</a></li>  
                                        </ul>
                                    </li>
                                     <li><a href="contact">Contact Us</a></li>
                                      <li th:if="${session.admin} == true" class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="manage_job">Manage Jobs</a></li>  
                                            <li><a href="add-job">Add Jobs</a></li> 
                                             <li><a href="manage_testimonial">Manage TestiMonial</a></li>  
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav>  
                    </div>
                    <div>
                               <div class="col-md-3 text-right" th:if="${session.active} == null">
                                <a  href="login" class="login">Login</a>
								 <a href="signup" class="signup">Sign Up</a>
                                
                            </div>
                            <div class="col-md-3 text-right" th:if="${session.active} == true">
                             <span class="userName_span" th:text="'Welcome '+${{session.userName}}"></span><a  href="logout" class="login">Log out</a>
                            </div>                      
                             </div>
                        </div>
                    </div>
                </div>
                <div class="simple_bannenr">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="work-time">Full Time</div>
                                <div class="banner-heading">Sr. Graphics Designer - Photoshop / Illustrator</div>    
                            </div>  
                        </div>
                    </div>
                </div>
                <main id="maincontent">
                    <section class="resume">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                <form th:action="@{/apply_job}" th:object="${job}" method="post">
                                    <div class="panel-body">
                                        <div class="col-md-3 p-l">
                                            <div class="block">
                                            <input type="hidden" th:field="*{jobSetId}"/>
                                                <img th:src="${job.getLogoPath()}"  alt="assets/images/home/img1.jpg" class="img-responsive"/>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="job_title" th:text="${job.jobTitle}">
                                            </div> 
                                            <div class="col-md-9 p-l">
                                            <div class="packege">
                                               <i class="fa fa-clock-o"></i><span ><strong class="strong">Category:&nbsp; <span  th:each="category, status:${job.getJobCategory()}"><span class="categories" th:text="${category.getCategory()}"><span>&nbsp;&nbsp;&nbsp;</span></span></span></strong></span>
                                            </div>
                                            </div>
                                            <div class="col-md-9 p-l">
                                                 <div class="packege">
                                                <i class="fa fa-clock-o"></i>
                                                <span><strong  class="strong">Skills:&nbsp; <span th:each="skill, statusItem:${job.getSkillSet()}"><span class="categories" th:text="${skill.getSkillName()}"></span></span></strong></span>
                                            </div>
                                            </div>
                                           
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="page-heading"></div>
                                        <div class="page-heading">
                                            <h2>Job Description</h2>
                                            <P th:text="${job.getJobDescription()}"></P>
                                        </div>
                                       <!--  <div class="page_details">
                                            <h4>Responsibilities : </h4>
                                            <p>One may need to manage more than one design brief at a time and typical activities include: </p>
                                            <p>- Talking with clients or account managers to discuss the business objectives and requirements of the job; </p>
                                            <p>- Estimating the time required to complete the work and providing quotes for clients;</p>
                                            <p>- Developing design briefs that suit the client's purpose; </p>
                                            <p>- Thinking creatively to produce new ideas and concepts and developing interactive design; </p>
                                            <p>- Using innovation to redefine a design brief within the constraints of cost and time; </p>
                                            <p>- Presenting finalized ideas and concepts to clients or account managers; </p>
                                            <p>- Working with a range of media, including computer-aided design (CAD) and keeping up to date with emerging technologies; </p>
                                            <p>- Proofreading to produce accurate and high-quality work; </p>
                                            <p>- Demonstrating illustrative skills with rough sketches and working on layouts ready for print; </p>
                                            <p>- Commissioning illustrators and photographers; </p>
                                            <p>- Working as part of a team with printers, copywriters, photographers, stylists, illustrators and marketing specialists. </p>
                                        </div>
                                        <div class="page_details">
                                            <h4>Requirements  : </h4>
                                            <p>- Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>
                                            <p>- Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
                                            <p>- Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</p>
                                            <p>- Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet  neque sed ipsum.</p>
                                            <p>- Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus.</p>
                                        </div> -->
                                        <input th:if="${session.admin} != true and ${job.applied}==false" type="submit" class="btn-default text-center col-md-2 button_apply" value="Apply Job"/>
                                       <input th:if="${session.admin} != true and ${job.applied}==true" disabled="disabled" type="submit" class="btn-default text-center col-md-2 button_apply" value="Applied"/>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
                <footer id="footer">
                    <div class="container">
                        <div class="row">
                            <div class="footer-block">
                                <h5>Information</h5>
                                <ul class="footer-link">
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Terms  Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Careers with Us</a></li>
                                    <li><a href="#">Sitemap</a></li>
                                    <li><a href="#">FAQs</a></li>
                                </ul>
                            </div>
                            <div class="footer-block">
                                <h5>For Employers</h5>
                                <hr>
                                <ul class="footer-link">
                                    <li><a href="#">Browse Jobs</a></li>
                                    <li><a href="#">Browse categories</a></li>
                                    <li><a href="#">Submit Resume</a></li>
                                    <li><a href="#">Candidate Dashboard</a></li>
                                    <li><a href="#">Job Alerts</a></li>
                                    <li><a href="#">My Bookmarks</a></li>
                                </ul>
                                </hr>
                            </div>
                            <div class="footer-block">
                                <h5>For Jobseekers</h5>
                                <hr>
                                <ul class="footer-link">
                                    <li><a href="#">Local Jobs</a></li>
                                    <li><a href="#">Comapny Directory</a></li>
                                    <li><a href="#">Browse Jobs</a></li>
                                    <li><a href="#">Salar Estimator</a></li>
                                    <li><a href="#">Resume Designer</a></li>
                                    <li><a href="#">Consultancy</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul>
                                </hr>
                            </div>
                            <div class="footer-block">
                                <h5>Browse Jobs</h5>
                                <hr>
                                <ul class="footer-link">
                                    <li><a href="#">Browse All Jobs</a></li>
                                    <li><a href="#">Govt. Jobs</a></li>
                                    <li><a href="#">International Jobs</a></li>
                                    <li><a href="#">Jobs by Company</a></li>
                                    <li><a href="#">Jobs by Category</a></li>
                                    <li><a href="#">Jobs by Location</a></li>
                                    <li><a href="#">Jobs by Skill</a></li>
                                </ul>
                                </hr>
                            </div>
                            <div class="footer-block footer-block2">
                                <h5>Follow Us</h5>
                                <hr>
                                <ul class="follow">
                                    <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#" title="Google"><span class="ti-google"></span></a></li>
                                    <li><a href="#" title="RSS"><i class="fa fa-rss"></i></a></li>
                                </ul>
                                </hr>
                                <div class="border"></div>
                                <div class="register">
                                    <a href="#">8,368,480 <span>Registerd Members</span></a>
                                </div>
                                <div class="register job">
                                    <a href="#">1,50,000 <span>Latest Jobs</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 padding-left">
                                    <span>&#169; 2017 Paskal. All rights reserved.</span>
                                </div>
                                <div class="col-md-6 col-sm-6 text-right padding-left">
                                    <ul class="bottom_link">
                                        <li><a href="#">Link 1</a></li>
                                        <li><a href="#">Link 1</a></li>
                                        <li><a href="#">Link 1</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- jQuery -->
                <script src="assets/js/jquery.min.js"></script>
                <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
                <script src="assets/js/common.js"></script>
            </body>
        </html>
