<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <title>Job Xpress</title>   
 		<link rel="icon" href="assets/images/home/favicon.ico" th:href="@{/static/favicon.ico}" />
        <!-- Bootstrap -->
        <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
        <!--font awesome-->
        <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"></link>
        <!--custom css-->
        <link href="assets/plugins/themify/themify-icons.css" rel="stylesheet"></link>
        <link href="assets/css/style.css" rel="stylesheet"></link>
        <link href="assets/css/responsive.css" rel="stylesheet"></link>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet"></link>
		<style>
		/* nav.navbar.navbar-default.navbar-static-top	{
width:120%;
} */
	.strong{
		display: inline-flex;
	}
	.categories{
	    margin-right: 10px;
	}
	.button_apply{
	    float: right !important;
	    }
</style>
    </head>
    <body>
        <div class="header-stricky">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="site-logo">
                            <a href="index.html"><img src="assets/images/home/site-logo.svg" alt="" class="img-responsive" /></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                     <nav class="navbar navbar-default navbar-static-top">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div> 
                               <div id="navbar" class="navbar-collapse collapse" >
                                <ul class="nav navbar-nav scrollto">  
                                    <li><a href="index">Home</a></li>
									 <li><a href="about">About</a></li> 
									 <li th:if="${session.user} == true OR ${session.admin}==true"><a href="services">Services</a></li>
									  <li><a href="job_listing">Jobs</a></li>
									 <li  class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Testimonials <i class="fa fa-angle-down"></i></a>
									 <ul class="dropdown-menu">
									  <li><a href="add-testimonials">Add Testimonials</a></li></ul>
									 </li>
									   <li th:if="${session.user} == true" class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile <i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="edit_profile">Edit Profile</a></li> 
                                             <li><a href="change_password">Change Password</a></li>  
                                        </ul>
                                    </li>
                                     <li><a href="contact">Contact Us</a></li>
                                      <li th:if="${session.admin} == true" class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="manage_job">Manage Jobs</a></li>  
                                            <li><a href="add-job">Add Jobs</a></li> 
                                             <li><a href="manage_testimonial">Manage TestiMonial</a></li>  
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav>  
                    </div>
                           <div class="col-md-3 text-right" th:if="${session.active} == null">
                                <a  href="login" class="login">Login</a>
								 <a href="signup" class="signup">Sign Up</a>
                                
                            </div>
                            <div class="col-md-3 text-right" th:if="${session.active} == true">
                                 <span class="userName_span" th:text="'Welcome '+${{session.userName}}"></span><a  href="logout" class="login">Log out</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page_banner banner listing-banner">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="banner-heading">Job Listing</div>    
                            </div>  
                        </div>
                    </div>
                </div>
                <main id="maincontent">
                    <section class="resume">
                        <div class="container" th:if="${#lists.size(page.getContent())}!=0">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="clearfix"></div>
                                    <div class="page_listing">
                                        <div class="sorting_content" th:each="item, stat: ${all_jobs}">
                                           <div class="tab-image"><img th:src="${item.getLogoPath()}" style="max-width:150px; max-height:100px"   alt="assets/images/home/img1.jpg" class="img-responsive" /></div>
                                            <div class="overflow">
                                            	<form th:action="@{/view_job}"  method="post">
                                            	<div class="text-shorting">
                                            	 <h1 class="col-md-6 col-sm-7" th:text="${item.getJobTitle()}"></h1>
                                            	  <input type="hidden" th:name="jobSetId" th:value="${item.getJobSetId()}"/>
                                            	 	<input type="submit" class="work-time part text-center col-md-2 button_apply" value="View Job"/>
                                               </div>
                                               </form>
                                                <br/>
                                             <form th:action="@{/apply_job}" th:object="${job}" method="post">
                                               <div class="text-shorting" th:if="${item.applied}==true">
                                                    <div class="work-time text-center col-md-2 button_apply" th:disabled="disabled" >Applied</div>
                                               </div>
                                               <div class="text-shorting" th:if="${item.applied}==false">
                                              	 <input type="hidden" th:name="jobSetId" th:value="${item.getJobSetId()}"/>
                                                   <input type="submit" class="work-time text-center col-md-2 button_apply" value="Apply Job"/>
                                               </div>
                                               </form>
                                            <div class="bottom_text">
                                                <div class="contact_details col-md-4 col-sm-4">
                                                    <span ><strong class="strong">Category:&nbsp; <span  th:each="category, status:${item.getJobCategory()}"><span class="categories" th:text="${category.getCategory()}"><span>&nbsp;&nbsp;&nbsp;</span></span></span></strong></span>
                                                </div>
                                                <div class="contact_details col-md-8 col-sm-8">
                                                    <span><strong  class="strong">Skills:&nbsp; <span th:each="skill, statusItem:${item.getSkillSet()}"><span class="categories" th:text="${skill.getSkillName()}"></span></span></strong></span>
                                                </div>
                                                <p class="col-md-12" th:text="${item.getJobDescription()}"></p>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                        <ul class="pagination pull-right" th:if="${#lists.size(page.getContent())}!=0">
                                            <li th:class='${page.firstPage}' th:disabled="disabled">
        <span th:if='${page.firstPage}'>← First</span>
        <a th:if='${not page.firstPage}' th:href='@{${page.url}(page.page=1,page.size=${page.size})}'>← First</a>
      </li>
      <li th:class='${page.hasPreviousPage}' th:disabled="disabled">
        <span th:if='${not page.hasPreviousPage}'>«</span>
        <a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(page.page=${page.number-1},page.size=${page.size})}' title='Go to previous page'>«</a>
      </li>
      <li th:each='item : ${page.items}' th:class='${item.current}' th:active="active">
        <span th:if='${item.current}' th:text='${item.number}'>1</span>
        <a th:if='${not item.current}' th:href='@{${page.url}(page.page=${item.number},page.size=${page.size})}'><span th:text='${item.number}'>1</span></a>
      </li>
      <li th:class='${page.hasNextPage}' th:disabled="disabled">
        <span th:if='${not page.hasNextPage}'>»</span>
        <a th:if='${page.hasNextPage}' th:href='@{${page.url}(page.page=${page.number+1},page.size=${page.size})}' title='Go to next page'>»</a>
      </li>
      <li th:class='${page.lastPage}' th:disabled="disabled">
        <span th:if='${page.lastPage}'>Last →</span>
        <a th:if='${not page.lastPage}' th:href='@{${page.url}(page.page=${page.totalPages},page.size=${page.size})}'>Last →</a>
      </li>    
                                        </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
                <footer id="footer">
                   
                    <div class="footer-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 padding-left">
                                    <span>&#169; 2017 Paskal. All rights reserved.</span>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </footer>
                 <div id="alertMsg" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
		                    <div class="modal-dialog modal-sm">
		                      <div class="modal-content">
		                        <div class="modal-header">
		                          <h4 class="modal-title" id="myModalLabel"><span id="myModalLabel2">Info</span></h4>
		                        </div>
		                        <div class="modal-body">
		                        	<p style="text-align:justify"><span id="alertmessagebody">Invalid end date</span> </p>
		                           <div class="modal-footer">
		                           <span id="errorwarning" ></span><button type="button"  id="dialogok" data-dismiss="modal" class="btn btn-default">OK</button>
		                        </div>
		                        </div>
		                      </div>
		                    </div>
                  		</div>
                <!-- jQuery -->
                <script src="assets/js/jquery.min.js"></script>
                <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
                <script src="assets/js/common.js"></script>
                 <script th:inline="javascript">
  				/*<![CDATA[*/
                $(document).ready(function(){
                	var temp = [[${errorMessage}]];
                	if(temp != null){
                		document.getElementById("alertmessagebody").innerHTML=temp.message;
                		 $('#alertMsg').modal({
  					        show: 'true'
  					  });
                	}
                	
                });
                /*]]>*/
                </script>
            </body>
        </html>
