<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <title>Job Xpress</title>   
 		<link rel="icon" href="assets/images/home/favicon.ico" th:href="@{/static/favicon.ico}" />
        <!-- Bootstrap -->
        <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
        <!--font awesome-->
        <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"></link>
        <!--custom css-->
        <link href="assets/plugins/themify/themify-icons.css" rel="stylesheet"></link>
        <link href="assets/css/style.css" rel="stylesheet"></link>
        <link href="assets/css/responsive.css" rel="stylesheet"></link>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet"></link>
		<!-- <style>
		nav.navbar.navbar-default.navbar-static-top	{
width:120%;
}</style> -->
    </head>
    <body>
        <div class="header-stricky">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="site-logo">
                            <a href="index.html"><img src="assets/images/home/site-logo.svg" alt="" class="img-responsive" /></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                      <nav class="navbar navbar-default navbar-static-top">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div> 
                           <div id="navbar" class="navbar-collapse collapse" >
                                <ul class="nav navbar-nav scrollto">  
                                    <li><a href="index">Home</a></li>
									 <li><a href="about">About</a></li> 
									 <li th:if="${session.user} == true OR ${session.admin}==true"><a href="services">Services</a></li>
									  <li><a href="job_listing">Jobs</a></li>
									 <li  class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Testimonials <i class="fa fa-angle-down"></i></a>
									 <ul class="dropdown-menu">
									  <li><a href="add-testimonials">Add Testimonials</a></li></ul>
									 </li>
									   <li th:if="${session.user} == true" class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile <i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="edit_profile">Edit Profile</a></li> 
                                             <li><a href="change_password">Change Password</a></li>  
                                        </ul>
                                    </li>
                                     <li><a href="contact">Contact Us</a></li>
                                      <li th:if="${session.admin} == true" class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="manage_job">Manage Jobs</a></li>  
                                            <li><a href="add-job">Add Jobs</a></li> 
                                             <li><a href="manage_testimonial">Manage TestiMonial</a></li>  
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav>  
                    </div>
                            <div class="col-md-3 text-right" th:if="${session.active} == null">
                                <a  href="login" class="login">Login</a>
								 <a href="signup" class="signup">Sign Up</a>
                                
                            </div>
                            <div class="col-md-3 text-right" th:if="${session.active} == true">
                             <span class="userName_span" th:text="'Welcome '+${{session.userName}}"></span><a  href="logout" class="login">Log out</a>
                            </div>
                            
                       </div>
                    </div>
                </div>
                <div class="page_banner banner employer-banner">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="banner-heading">Manage Testimonial</div>    
                            </div>  
                        </div>
                    </div>
                </div>
                <main id="maincontent">
                    <section class="manage">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="panel-body">
                                    <form action="#" th:action="@{/updateTestimonals}"
			th:object="${testi_monials}" method="post">
                                        <div class="job_title">Manage Testimonials</div>
         <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
            <th><input type="checkbox" id="statusChk" onchange="onAllSelected()"/></th>
                <th>Name</th>
                <th>Message</th>
                <th><input type="checkbox" class="js-switch" id="showStatus" onchange="onAllStatusChanged()"/></th>
                 <th>Delete</th>
            </tr>
        </thead>
        <tbody>
           <tr th:each="item,stat : ${testi_monials.testiMonialList}">
							<td><input type="checkbox"
								th:name="|testiMonialList[${stat.index}].testiMonialId|" th:id="__${stat.index}__+-statusChk"
								th:value="${item.getTestiMonialId()}" th:checked="${item.selected}" /></td>
                <td th:text="${item.getUserName()}"></td>
                <td th:text="${item.getMessage()}"></td>
                <td><input type="checkbox" th:id="__${stat.index}__+-showStatus" th:name="|testiMonialList[${stat.index}].showTestimonial|" class="js-switch" th:checked="${item.getShowTestimonial()}" /></td>
                <td><a th:href="@{'/deleteTestimonials?id=' + ${item.getTestiMonialId()}}" href="#"><i class="glyphicon glyphicon-trash"></i></a></td>
            </tr>
        </tbody>
    </table>	<br/>
    								<input type="submit" class="btn btn-default" value="submit"/>
    								</form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
                <footer id="footer">
                    
                    <div class="footer-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 padding-left">
                                    <span>&#169; 2017 Paskal. All rights reserved.</span>
                                
                            </div>
                        </div>
                    </div>
                    </div>
                </footer>
                <!-- jQuery -->
                <script src="assets/js/jquery.min.js"></script>
                <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
                <script src="assets/js/common.js"></script>
                    <script th:inline="javascript">
    /*<![CDATA[*/
    function onAllSelected(){
    	console.log("hello");
   	 var counter = 1;
   	 var temp = [[${testi_monials.testiMonialList}]];
   	  var bool = document.getElementById("statusChk").checked;
   	 console.log(bool);
   	 while(counter <= temp.length){
   		 document.getElementById(counter-1+"-statusChk").checked = bool;
   		 counter++;
   	 }  
   	
    }
    function onAllStatusChanged(){
   	  var x = document.getElementById("showStatus").checked;
   	  console.log(x);
   			 var temp = [[${testi_monials.testiMonialList}]];
   			 var counter = 1;
   			 while(counter <= temp.length){
   				 var bool =document.getElementById(counter-1+"-statusChk").checked;
   				 console.log(bool+"-");
   				 if(bool){
   				 document.getElementById(counter-1+"-showStatus").checked = x;
   				 console.log("@@@@ "+document.getElementById(counter-1+"-showStatus").checked)
   				 }
   				 counter++;
   			 }
   		  
    }
    /*]]>*/
    </script>
            </body>
        </html>
