<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<title>Job Xpress</title>
<link rel="icon" href="assets/images/home/favicon.ico" th:href="@{/static/favicon.ico}" />
<!-- Bootstrap -->
<link href="assets/plugins/bootstrap/css/bootstrap.min.css"
	rel="stylesheet"></link>
<!--font awesome-->
<link href="assets/plugins/font-awesome/css/font-awesome.min.css"
	rel="stylesheet"></link>
<!--custom css-->
<link href="assets/plugins/themify/themify-icons.css" rel="stylesheet"></link>
<link href="assets/css/style.css" rel="stylesheet"></link>
<link href="assets/css/responsive.css" rel="stylesheet"></link>
<link
	href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
	rel="stylesheet"></link>
</head>
<style>
/* 		
		nav.navbar.navbar-default.navbar-static-top	{
width:120%;
} */
#personal-submit-button{
    margin-top: 50px;
    float: right;
     margin:10px;
   }
   #download_resume{
    margin-top:10px;
    margin-left: -7px;
   }
   #eduction-table{
   margin-top: 25px;
   }
</style>
<body>
	<div class="header-stricky">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="site-logo">
						<a href="index.html"><img
							src="assets/images/home/site-logo.svg" alt=""
							class="img-responsive" /></a>
					</div>
				</div>
				<div class="col-md-6">
					<nav class="navbar navbar-default navbar-static-top">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed"
								data-toggle="collapse" data-target="#navbar"
								aria-expanded="false" aria-controls="navbar">
								<span class="sr-only">Toggle navigation</span> <span
									class="icon-bar"></span> <span class="icon-bar"></span> <span
									class="icon-bar"></span>
							</button>
						</div>
						<div id="navbar" class="navbar-collapse collapse">
							<ul class="nav navbar-nav scrollto">
								<li><a href="index">Home</a></li>
								<li><a href="about">About</a></li>
								 <li th:if="${session.user} == true OR ${session.admin}==true"><a href="services">Services</a></li>
								<li><a href="job_listing">Jobs</a></li>
								<li class="dropdown"><a href="#" class="dropdown-toggle"
									data-toggle="dropdown">Testimonials <i
										class="fa fa-angle-down"></i></a>
									<ul class="dropdown-menu">
										<li><a href="add-testimonials">Add Testimonials</a></li>
									</ul></li>
								<li th:if="${session.user} == true" class="dropdown"><a
									href="#" class="dropdown-toggle" data-toggle="dropdown">Profile
										<i class="fa fa-angle-down"></i>
								</a>
									<ul class="dropdown-menu">
										<li><a href="edit_profile">Edit Profile</a></li>
										<li><a href="change_password">Change Password</a></li>
									</ul></li>
								<li><a href="contact">Contact Us</a></li>
								<li th:if="${session.admin} == true" class="dropdown"><a
									href="#" class="dropdown-toggle" data-toggle="dropdown">Actions
										<i class="fa fa-angle-down"></i>
								</a>
									<ul class="dropdown-menu">
										<li><a href="manage_job">Manage Jobs</a></li>
										<li><a href="add-job">Add Jobs</a></li>
										<li><a href="manage_testimonial">Manage TestiMonial</a></li>
									</ul></li>
							</ul>
						</div>
					</nav>
				</div>
				<div class="col-md-3 text-right" th:if="${session.active} == null">
					<a href="login" class="login">Login</a> <a href="signup"
						class="signup">Sign Up</a>

				</div>
				<div class="col-md-3 text-right" th:if="${session.active} == true">
				 <span class="userName_span" th:text="'Welcome '+${{session.userName}}"></span><a  href="logout" class="login">Log out</a>
				</div>
			</div>
		</div>
	</div>
	<div class="page_banner banner resume-banner">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="banner-heading">Services</div>
				</div>
			</div>
		</div>
	</div>
	<main id="maincontent">
	<section class="resume">
		<div class="container">
			<div class="panel-group">
				 <button type="button" class="btn btn-info btn-lg"
								data-toggle="modal"  th:if="${session.admin} == true" data-target="#myModal">+ Add
								Services</button>
								
								<table id="eduction-table" class="table table-striped table-bordered" style="width:100%">
						<thead>
					            <tr>
					                <th th:if="${session.admin} == true">Service Id</th>
					                <th>Service Name</th>
					                <th>Service Description</th>
					                 <th th:if="${session.admin} == false">Choose</th>
					                <th th:if="${session.admin} == true">Amount</th>
					                <th th:if="${session.admin} == true">IsActive</th>
					                <th  th:if="${session.admin} == true">Edit</th>
					                <th  th:if="${session.admin} == true">Delete</th>
					            </tr>
					            </thead>
					            <tbody>
					            <tr th:each="item,stat:${service_list}">
					            <td th:text="${item.serviceId}" th:if="${session.admin} == true"></td>
					            <td th:text="${item.serviceName}" th:if="${session.admin} == true OR ${item.getIsActive()}" ></td>
					            <td th:text="${item.serviceDesc}" th:if="${session.admin} == true OR ${item.getIsActive()}"></td>
					            <td th:text="${item.amt}" th:if="${session.admin} == true"></td>
					            <td th:if="${session.admin} == false AND ${item.getIsActive()}">
					            <input  type="checkbox"  th:id="${item.serviceId}" onchange="choosed(this)" th:checked="${#lists.contains(subscribed,item)}" class="js-switch"/>
					            </td>
					            <td th:if="${session.admin} == true">
					             <input disabled="disabled" type="checkbox"  th:id="__${stat.index}__+-showStatus" th:name="|service_list[${stat.index}].isActive|" class="js-switch" th:checked="${item.getIsActive()}" />
					            </td>
					            <td th:if="${session.admin} == true"> 
					              <button type="button" class="btn btn-success  btn-xs"  data-toggle="modal" th:attr="data-target='.modal1-'+${item.serviceId}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
					              <!-- pop up dialog -->
									<div th:class="'modal fade modal1-'+${item.serviceId}" tabindex="-1" role="dialog" aria-hidden="true">
									<div class="modal-dialog">
									<div class="modal-content">
									<form th:action="@{/update_service}" method="POST">
									<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
									 </button>
									<h4 class="modal-title" id="myModalLabel2">Update Service</h4>
									</div>
									<div class="modal-body" style="height: 250px;">
								<div class="col-sm-6">
								<div class="form-group">
								<input type="hidden" th:name="serviceId" th:value="*{item.serviceId}"/>
									<label> Service Name </label> 
									<input type="text" class="form-control"
										id="serviceName" required="required"
										pattern="[A-Za-z].{3,}"
										data-validation-required-message="Please enter service name."
										autocomplete="off" th:name="serviceName" th:value="*{item.serviceName}"></input>
								</div>
								</div>
						<div class="col-sm-6">
								<div class="form-group">
									<label> Amount </label> <input type="number"
										class="form-control" id="amt" pattern="[0-9]+(\.[0-9]{0,2})?%?"
										required="required"
										data-validation-required-message="Please enter Amount"
										autocomplete="off" th:name="amt" th:value="*{item.amt}"></input>

								</div>
							</div>
							
							<div class="col-sm-9">
								<div class="form-group">
									<label> Service Description </label> 
									<textarea type="text" class="form-control" style="max-height:100px"
										id="text" required="required"
										data-validation-required-message="Please enter service Desc. name."
										autocomplete="off" th:name="serviceDesc" th:text="${item.getServiceDesc()}"></textarea>
								</div>
							</div>
								<div class="col-sm-3">
									<div class="form-group" style="width: 350px;">
									<label> Status</label><br/>
									<div class="checkbox">
										<input type="checkbox" class="courseType" th:name="isActive" th:checked="${item.getIsActive()}"
										/> Active
										</div>
									</div>
								</div>
								
							</div>
						<div class="modal-footer">
							 <button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
							<button type="submit" class="btn btn-default">Update</button>
							 </div>
							</form>
						 </div>
						</div>
						</div>
							<!--  pop up dialog end -->
					             </td>
					              <td  th:if="${session.admin} == true"> 
					             <form ACTION="#"  th:action="@{/delete_service}" method="POST">
									<input type="hidden" th:name="serviceId" th:value="*{item.serviceId}"/>
					              <button type="submit" class="btn btn-danger  btn-xs" ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </button>
					              </form>
					              </td>
					            </tr>
					            </tbody>
					            </table>
					            <form id="subscribeServiceForm" th:action="@{/purchase}" method="POST" >
					            <input type="hidden" th:name="serviceName" id="serviceIdsField"></input>
								 <button type="button" id="subscribeBtn" disabled="disabled" onClick="subscribeService()" th:if="${session.admin} == false" style="margin-top:2%;float:right;" class="btn btn-default  btn-xs" >Subscribe </button>
								 </form>
			</div>
			
			</div>
		<div class="modal fade" id="myModal" role="dialog">
								<div class="modal-dialog">
								 <form id="" th:action="@{/add_services}"  method="post">
									<!-- Modal content-->
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">Add Services</h4>
										</div>
										<div class="modal-body" style="height: 250px;">
								<div class="col-sm-6">
								<div class="form-group">
									<label> Service Name </label> 
									<input type="text" class="form-control"
										id="text" required="required"
										pattern= "[A-Za-z].{3,}"
										data-validation-required-message="Please enter service name."
										autocomplete="off" th:name="serviceName"></input>
								</div>
								</div>
						<div class="col-sm-6">
								<div class="form-group">
									<label> Amount </label> <input type="number"
										class="form-control" id="percentage" pattern="[0-9]+(\.[0-9]{0,2})?%?"
										required="required"
										data-validation-required-message="Please enter Amount"
										autocomplete="off" th:name="amt"></input>

								</div>
							</div>
							
							<div class="col-sm-9">
								<div class="form-group">
									<label> Service Description </label> 
									<textarea type="text" class="form-control" style="max-height:100px"
										id="text" required="required"
										data-validation-required-message="Please enter service Desc. name."
										autocomplete="off" th:name="serviceDesc"></textarea>
								</div>
							</div>
								<div class="col-sm-3">
									<div class="form-group" style="width: 350px;">
									<label> Status</label><br/>
										<input type="checkbox" class="courseType" th:name="isActive"
											 > Active </input>
									</div>
								</div>
								
							</div>

										
										<div class="modal-footer">
											<button type="SUBMIT" id="add-education" class="btn btn-default"
												>Submit</button>
										</div>
							
									</div>
								</form>
								</div>
								</div>
								<div id="alertMsg" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
		                    <div class="modal-dialog modal-sm">
		                      <div class="modal-content">
		                        <div class="modal-header">
		                          <h4 class="modal-title" id="myModalLabel"><span id="myModalLabel2">Info</span></h4>
		                        </div>
		                        <div class="modal-body">
		                        	<p style="text-align:justify"><span id="alertmessagebody">Invalid end date</span> </p>
		                           <div class="modal-footer">
		                           <span id="errorwarning" ></span><button type="button"  id="dialogok" data-dismiss="modal" class="btn btn-default">OK</button>
		                        </div>
		                        </div>
		                      </div>
		                    </div>
                  		</div>
		                   
	</section>
	</main>
	<footer id="footer">

		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 padding-left">
						<span>&#169; 2017 Paskal. All rights reserved.</span>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- jQuery -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/js/file.js"></script>
	<script src="assets/js/common.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="assets/js/daterangepicker.js"></script>
	 <script th:inline="javascript">
  				/*<![CDATA[*/
  	var choosedServices = [];			           
  	function choosed(selected){
  					var index =choosedServices.indexOf(selected.id);
  					if(index>-1){
  						choosedServices.splice(index, 1);
  					}else{
  						choosedServices.push(selected.id);
  					}
  					if(choosedServices.length>0){
  						document.getElementById("subscribeBtn").disabled=false;
  					}else{
  						document.getElementById("subscribeBtn").disabled=true;
  					}
  				}	
  	function subscribeService(){
  		document.getElementById("serviceIdsField").value=choosedServices.join("-");
  		document.getElementById("subscribeServiceForm").submit();
  	}
$(document).ready(function() {
	
	
	$('#eduction-table').dataTable({
	    "paging": false,
	    "bFilter": false,
	    "bInfo": false
	});
	$('#experience-table').dataTable({
	    "paging": false,
	    "bFilter": false,
	    "bInfo": false
	});
    var t = $('#eduction-table').DataTable();
    var rowCount = t.length;
    
 
});
$(document).ready(function(){
	var temp = [[${errorMessage}]];
	if(temp != null){
		console.log(temp);
		document.getElementById("myModalLabel2").innerHTML="Info";
		document.getElementById("alertmessagebody").innerHTML=temp.message;
		 $('#alertMsg').modal({
		        show: 'true'
		  });
	}
	var subscribedList =[[${subscribed}]]
	if(subscribedList!=null){
		for(var i=0;i<subscribedList.length;i++){
		choosedServices.push(subscribedList[i].serviceId);
		}
	}
	
});
/*]]>*/
</script>
</body>
</html>
