<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <title>Job Xpress</title>   
 		<link rel="icon" href="assets/images/home/favicon.ico" th:href="@{/static/favicon.ico}" />
        <!-- Bootstrap -->
        <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
        <!--font awesome-->
        <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"></link>
        <!--custom css-->
        <link href="assets/plugins/themify/themify-icons.css" rel="stylesheet"></link>
        <link href="assets/css/style.css" rel="stylesheet"></link>
        <link href="assets/css/responsive.css" rel="stylesheet"></link>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet"></link>
        <!-- <style>
		
		nav.navbar.navbar-default.navbar-static-top	{
width:120%;
}
</style> -->
    </head>
    <body>
        <div class="header-stricky">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="site-logo">
                            <a href="index.html"><img src="assets/images/home/site-logo.svg" alt="" class="img-responsive" /></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <nav class="navbar navbar-default navbar-static-top">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div> 
                             <div id="navbar" class="navbar-collapse collapse" >
                                <ul class="nav navbar-nav scrollto">  
                                    <li><a href="index">Home</a></li>
									 <li><a href="about">About</a></li> 
									 <li th:if="${session.user} == true OR ${session.admin}==true"><a href="services">Services</a></li>
									  <li><a href="job_listing">Jobs</a></li>
									 <li  class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Testimonials <i class="fa fa-angle-down"></i></a>
									 <ul class="dropdown-menu">
									  <li><a href="add-testimonials">Add Testimonials</a></li></ul>
									 </li>
									   <li th:if="${session.user} == true" class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile <i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="edit_profile">Edit Profile</a></li> 
                                             <li><a href="change_password">Change Password</a></li>  
                                        </ul>
                                    </li>
                                     <li><a href="contact">Contact Us</a></li>
                                      <li th:if="${session.admin} == true" class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="manage_job">Manage Jobs</a></li>  
                                            <li><a href="add-job">Add Jobs</a></li> 
                                             <li><a href="manage_testimonial">Manage TestiMonial</a></li>  
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav>  
                    </div>
                            <div class="col-md-3 text-right" th:if="${session.active} == null">
                                <a  href="login" class="login">Login</a>
								 <a href="signup" class="signup">Sign Up</a>
                                
                            </div>
                            <div class="col-md-3 text-right" th:if="${session.active} == true">
                                <a  href="logout" class="login">Log out</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page_banner">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="banner-heading">Sign Up</div>    
                            </div>  
                        </div>
                    </div>
                </div>
                <main id="maincontent">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-tab">
                                    <div id="form">
                                        <div id="userform">
										<div class="" id="">
                                                
                                                
                                                <form id="" th:action="@{/register}" th:object="${user_profile}" method="post">
												<div class="col-sm-6">
                                                    <div class="form-group">
													
                                                        <label>First Name</label>
                                                        <input type="text" class="form-control" id="first_name" th:field="*{userFirstName}" required="required" pattern= "[A-Za-z].{3,}" title="min 4 characters" data-validation-required-message="Please enter your name." autocomplete="off"></input>
                                                        
                                                        
                                                   
													</div>
													</div>
													<div class="col-sm-6">
                                                    <div class="form-group">
													
                                                        <label>Last Name</label>
                                                        <input type="text" class="form-control" id="last_name"  th:field="*{userLastName}" required="required" pattern= "[A-Za-z].{3,}" title="min 4 characters" data-validation-required-message="Please enter your name." autocomplete="off"></input>
                                                        
                                                   
													</div>
													</div>
													<div class="col-sm-6">
                                                    <div class="form-group">
													
                                                        <label>Username</label>
                                                        <input type="text" class="form-control" id="user_name"  th:field="*{userName}" required="required" pattern= "[A-Za-z].{3,}" title="min 4 characters" data-validation-required-message="Please enter your name." autocomplete="off"></input>
                                                        
                                                   
													</div>
													</div>
													<div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label> Email </label>
                                                        <input type="email" class="form-control" id="email"
                                                        title="Please enter your valid email address"
												pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  
                                                        th:field="*{userEmail}" required="required" autocomplete="off"></input>
                                                    </div>
													</div>
													<div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Password </label>
                                                        <input type="password" class="form-control" id="password"  th:field="*{password}" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 7 or more characters" required="required" data-validation-required-message="Please enter your password" autocomplete="off"></input>
                                                        
                                                    </div>
													</div>
													<div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label> Confirm Password </label>
                                                        <input type="password" class="form-control" id="cpassword"  th:field="*{cPassword}" th:onblur="'javascript:checkpassword()'" required="required" data-validation-required-message="Please enter your password" autocomplete="off"></input>
                                                        
                                                    </div>
													</div>
													<div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label> Mobile No </label>
                                                        <input type="tel" class="form-control" id="phone-no"  th:field="*{phoneNo}" pattern="[0-9]{10}" required="required" data-validation-required-message="Please enter your password" autocomplete="off"></input>
                                                        
                                                    </div>
													</div>
                                                    <div class="mrgn-30-top">
                                                        <input type="submit" class="btn btn-larger btn-block"  value="Sign up"/>
                                                    </div>
                                                </form>
                                            </div>
                                            
                                           
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </main>
                <footer id="footer">
                   
                    <div class="footer-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 padding-left">
                                    <span>&#169; 2017 Paskal. All rights reserved.</span>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </footer>
                 <div id="alertMsg" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
		                    <div class="modal-dialog modal-sm">
		                      <div class="modal-content">
		                        <div class="modal-header">
		                          <h4 class="modal-title" id="myModalLabel"><span id="myModalLabel2">Info</span></h4>
		                        </div>
		                        <div class="modal-body">
		                        	<p style="text-align:justify"><span id="alertmessagebody">Invalid end date</span> </p>
		                           <div class="modal-footer">
		                           <span id="errorwarning" ></span><button type="button"  id="dialogok" data-dismiss="modal" class="btn btn-default">OK</button>
		                        </div>
		                        </div>
		                      </div>
		                    </div>
                  		</div>
                <!-- jQuery -->
                <script src="assets/js/jquery.min.js"></script>
                <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>  
                <script src="assets/js/common.js"></script>
                    <script th:inline="javascript">
  				/*<![CDATA[*/
                function checkpassword(){
                	var text1 = document.getElementById("password").value;
                	var text2 = document.getElementById("cpassword").value;
                	if(text1 != text2){
                		document.getElementById("cpassword").value= "";
                		document.getElementById("myModalLabel2").innerHTML="Error";
                		document.getElementById("alertmessagebody").innerHTML="Confirm password did not match with password.";
               		 $('#alertMsg').modal({
 					        show: 'true'
 					  });
                	}
                }
  				
                $(document).ready(function(){
                	var temp = [[${errorMessage}]];
                	if(temp != null){
                		document.getElementById("myModalLabel2").innerHTML="Info";
                		document.getElementById("alertmessagebody").innerHTML=temp.message;
                		 $('#alertMsg').modal({
  					        show: 'true'
  					  });
                	}
                	var userProfile = [[${userProfileTest}]];
                	if(userProfile!=null){
                		document.getElementById("first_name").value=userProfile.userFirstName;
                		document.getElementById("user_name").value=userProfile.userName;
                		document.getElementById("last_name").value=userProfile.userLastName;
                		document.getElementById("phone-no").value=userProfile.phoneNo;
                	}
                	
                });
                /*]]>*/
                </script>
            </body>
        </html>
